* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  font-family: 'Georgia', serif;
  background: linear-gradient(135deg, #7A9D96 0%, #CAE4DB 100%);
}

a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .desktop-nav {
    display: none !important;
  }

  #hamburger {
    display: block !important;
  }
}